[color]
	ui = true
[user]
	name = Bachir Çaoui
	email = bachir.caoui@gmail.com
	signingkey = 4F727F716E9371B35BD9A5B58B3EC1A12563DC3E
[push]
	default = simple
[core]
	excludesfile = /Users/BachirC/.gitignore_global
[commit]
	gpgsign = true
[gpg]
	program = gpg1
