[color]
	ui = true
[user]
	name = Bachir Çaoui
	email = bachir@heetch.com
	signingkey = A594EB322682F168
[push]
	default = simple
[core]
	excludesfile = /Users/bachir/.gitignore_global
[commit]
	gpgsign = false
[gpg]
	program = gpg
[alias]
	whatadded = log --diff-filter=A
