[color]
	ui = true
[user]
	name = Bachir Çaoui
	email = bachir.caoui@gmail.com
	signingkey = A594EB322682F168
[push]
	default = simple
[core]
	excludesfile = /Users/bachir/.gitignore_global
[commit]
	gpgsign = true
[gpg]
	program = gpg1
